<div class='jumbotron'>
	<h3>
		You will see your posts here
	</h3>
	<h4>
		<br>
		<h4>this page shows list of all posts</h4>
		<h4>{{#link-to 'new'}}Click here to create a new post{{/link-to}}</h4><br>
		<ul>
			{{#each model as |post|}}


			<li>{{#link-to 'post' post }}<a href="">{{post.title}}</a>{{/link-to}}&nbsp;&nbsp;<br><small>Posted by&nbsp;{{post.author}}</small></li>


			<br>

			
			{{/each}}
		</ul>
	</h4>
	{{outlet}}
</div>

